{% extends "index.html" %}
{% block contenido_pagina %}
{% load static %}
<h1>Lista completa de autores</h1>
<br>
{% if object_list %}

<ul>
    {% for autor in object_list %}

    <li>
        <p><b>Autor:</b> {{ autor.apellido }}, {{ autor.nombre }} </p>
    <p> 
        <a href="{% url 'AutorDetail' autor.id %}">Ver</a>
        <a href="{% url 'AutorUpdate' autor.id %}">Editar</a>
        <a href="{% url 'AutorDelete' autor.id %}">Borrar</a>
    </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay autores aún, puedes cargar alguno para que aparezca en esta lista.</p>
{% endif %}
{% endblock %} 