{% extends "index.html" %}
{% block contenido_pagina %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Bienvenidos a mi pagina de Blog</h3>
          <p class="fst-italic">
            Donde encontraras articulos sobre:

          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Tecnologia</li>
            <li><i class="ri-check-double-line"></i> Tendencias</li>
            <li><i class="ri-check-double-line"></i> Mascotas</li>
            <li><i class="ri-check-double-line"></i> Moda</li>
            <li><i class="ri-check-double-line"></i> Y mucho mas!</li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

{% endblock %}