{% extends "index.html" %}articulo
{% block contenido_pagina %}
{% load static %}
<h2>Lista completa de paginas</h2>
<br>

{% if object_list %}

<ul>
    {% for pagina in object_list %}

    <li>
        <p> <b> {{ pagina.titulo }} </b> de <b> {{ pagina.autor }} </b></p>

    <p> 
        <a href="{% url 'PaginaDetail' pagina.id %}">Ver</a>
        <a href="{% url 'PaginaUpdate' pagina.id %}">Editar</a>
        <a href="{% url 'PaginaDelete' pagina.id %}">Borrar</a>

    </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay paginas aún, puedes cargar alguno para que aparezca en esta lista.</p>
{% endif %}
{% endblock %} 