{% extends "index.html" %}
{% block contenido_pagina %}
{% load static %}

{% if resultados %}

<h3>Resultado de la busqueda:</h1> <br>
    <ul>
    {% for resultado in resultados %}
    
        <li>
            {{resultado.apellido}}, {{resultado.nombre}}
            {% if resultado.titulo %}
            <b>{{resultado.titulo}}</b><br>
            {{resultado.texto}}<br><br>
            <b>Fecha de Publicacion:</b> {{resultado.fecha}}
            {% endif %}
        </li>
    
    {% endfor %}
    </ul>

{% else %}
    <p>No se encontró ningun <b>Articulo</b> con ese nombre.</p>
{% endif %}


{% endblock %}